<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
		https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--注解开发-->
    <!--1、开启注解开发扫描 指定扫描包路径controller-->
    <context:component-scan base-package="star.controller"></context:component-scan>
    <!--2、开启注解Springmvc开发，自动注入处理器的映射器、适配器、转换器等-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--配置静态资源的处理方式-->
    <!--mapping:设置请求映射路径 location：设置实际地址-->
 <!--   <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>
    <mvc:resources mapping="/upload/**" location="/upload/"></mvc:resources>-->
    <!--使用默认的servlet处理器处理静态资源-->
    <mvc:default-servlet-handler/>
    <!--3、配置视图的解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--配置文件上传的解析器 id必须配置，名称multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="20971520"></property>
    </bean>
    <bean class="star.config.Swagger2Config"></bean>
</beans>