<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  1 
  namespace : 命名空间 ,与实体类名同名(包名.类名)
  <mapper namespace="edu.hebeu.pojo.Emp">
-->
<!-- 2 使用mapper接口
  namespace : 与mapper接口同包同名
-->
<mapper namespace="star.mapper.AdminMapper">
    <select id="getUserByParam" resultMap="getUserInfo">
        select * from user
        <where>
            <if test="userName!= null and userName !=''">
                and user_name like concat("%",#{userName},"%")
            </if>
        </where>
    </select>
    <resultMap id="getUserInfo" type="User" autoMapping="true">
        <id column="user_id" property="userId"></id>
    </resultMap>
</mapper>